@font-face {
  font-family: "interRegular";
  src: url(./font/Inter-Regular.ttf);
}
@font-face {
  font-family: "interBold";
  src: url(./font/Inter-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "intreRegular", "Noto Sans TC", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}

body {
  background-color: #1d1f27;
}

.dTop svg {
  border-radius: 50%;
  position: fixed;
  z-index: 200;
  bottom: 10px;
  right: 10px;
}
.dTop svg path {
  transition: all 0.3s;
  fill: #ffffff;
  opacity: 0.3;
}
.dTop svg path:hover {
  opacity: 0.8;
}

.divSale {
  background-color: #00b114;
  height: 100%;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15em;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  color: #ffffff;
}
.divSale span {
  color: #38e54d;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15em;
}
.divSale button {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 24px;
  display: flex;
  vertical-align: middle;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s;
  line-height: 24px;
  letter-spacing: 0.15em;
}
.divSale button:hover {
  background-color: #ffffff;
  color: #00b114;
}
.divSale button:hover > svg path {
  fill: #00b114;
  transition: all 0.3s;
}

.divText {
  height: 150px;
  background-color: #1d1f27;
  color: #4967ff;
  text-align: center;
  padding-top: 100px;
}
.divText span {
  padding-bottom: 3px;
  border-bottom: 6px solid #e23965;
  font-weight: 700;
  font-size: 40px;
}

.slider {
  position: relative;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
}
.slider:active, .slider:hover, .slider:focus {
  outline: none;
  border: none;
}
.slider .card {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.slider .card .cardImg {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 2;
  background-color: #000000;
  transition: 0.5s;
}
.slider .card .cardImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .card:hover img {
  opacity: 0.4;
  transition: 0.5s;
}
.slider .card:hover .cardImg {
  transform: translateY(-100px);
  transition: all 0.9s;
}
.slider .card ul {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
}
.slider .card ul li {
  list-style: none;
}
.slider .card ul li a {
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ffffff;
  font-size: 23px;
  color: #000000;
  font-weight: bold;
  margin: 0 6px;
  transition: 0.4s;
  transform: translateY(200px);
  opacity: 0;
}
.slider .card ul li a span {
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
.slider .card .titletxt {
  position: absolute;
  bottom: 400px;
  left: 0;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  height: 40px;
  z-index: 2;
  padding: 10px;
  transition: 0.6s;
  text-align: center;
  font-size: 30px;
}
.slider .card:hover ul li a span {
  transform: translateY(0px);
  color: #000000;
}
.slider .card:hover .titletxt {
  bottom: 0;
  height: 100px;
}
.slider ul li Link button {
  font-size: 50px;
  width: 100px;
  height: 30px;
  transition: 0.8s;
}
.slider ul li Link button:hover {
  transform: rotate(360deg);
  background-color: #ffffff;
}

.dHotCarousel .slick-dots {
  bottom: -80px;
}
.dHotCarousel .slick-dots li {
  margin: 30px;
}
.dHotCarousel .slick-dots li button::before {
  content: "  ";
  background-color: #44464f;
  width: 70px;
  height: 15px;
  border-radius: 2px;
}
.dHotCarousel .slick-dots .slick-active button::before {
  background-color: #4967ff;
}
.dHotCarousel .slick-prev,
.dHotCarousel .slick-next {
  z-index: 100;
}
.dHotCarousel .slick-prev:before {
  content: url(../components/CoursePage/img/ftoleft.svg);
  left: 50px;
  position: absolute;
  opacity: 0.35;
  top: -10px;
  transition: all 0.8s;
}
.dHotCarousel .slick-next:before {
  content: url(../components/CoursePage/img/ftoright.svg);
  right: 50px;
  position: absolute;
  opacity: 0.35;
  transition: all 0.8s;
  top: -10px;
}

.divToYouText {
  background-color: #1d1f27;
}

.divToYou {
  background-color: #1d1f27;
  height: 500px;
}
.divToYou .slick-dots {
  bottom: -80px;
}
.divToYou .slick-dots li {
  margin: 30px;
}
.divToYou .slick-dots li button::before {
  content: "  ";
  background-color: #44464f;
  width: 70px;
  height: 15px;
  border-radius: 2px;
}
.divToYou .slick-dots .slick-active button::before {
  background-color: #003dcb;
}
.divToYou .slick-prev,
.divToYou .slick-next {
  z-index: 100;
}
.divToYou .slick-next {
  right: -30px;
}
.divToYou .slick-prev:before {
  content: url(../components/CoursePage/img/toleft.svg);
  left: 100px;
  top: -10px;
  position: absolute;
  opacity: 0.35;
  transition: all 0.8s;
}
.divToYou .slick-next:before {
  content: url(../components/CoursePage/img/toright.svg);
  right: 100px;
  top: -10px;
  position: absolute;
  opacity: 0.35;
  transition: all 0.8s;
}
.divToYou .dBecause {
  padding: 20px;
  color: #ffffff;
  font-size: medium;
  text-align: center;
}
.divToYou .divItems {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.divToYou .divItems .imgClass {
  float: left;
}
.divToYou .divItems .dClasstext {
  float: right;
  padding: 30px;
  color: #9d9faa;
}
.divToYou .divItems .dClasstext .sStar {
  color: #aa003b;
}
.divToYou .divItems .dClasstext .score {
  padding: 3px px;
}
.divToYou .divItems .dClasstext .score span {
  padding: 0 3px;
  vertical-align: middle;
}
.divToYou .divItems .dClasstext .score .sPersonCount,
.divToYou .divItems .dClasstext .score .sClock {
  float: right;
}
.divToYou .divItems .dClasstext .score .sOnStar path {
  fill: #e0e03b;
}
.divToYou .divItems .dClasstext h5 {
  padding: 10px;
  line-height: 48px;
  letter-spacing: 0.1em;
  color: #4967ff;
  font-weight: 700;
  font-size: 32px;
}
.divToYou .divItems .dClasstext p {
  padding: 10px;
}
.divToYou .divItems .dClasstext .dClassPrice {
  line-height: 50px;
  letter-spacing: 0.1em;
  color: #e23965;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}
.divToYou .divItems .dClasstext .dClassPrice button {
  transition: all 0.2s ease-out;
  padding: 5px 15px;
  display: flexbox;
  width: 100px;
  height: 40px;
  background-color: #e23965;
  color: #ffffff;
  font-size: medium;
  border: 2px solid #e23965;
  border-radius: 24px;
}
.divToYou .divItems .dClasstext .dClassPrice button:hover {
  background-color: #aa003b;
  border: 1px solid #e23965;
}

.divNEW {
  padding: 50px;
  background: #1d1f27;
}
.divNEW .divNewContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  height: 1200;
  margin: 0 auto;
}

.dCard {
  text-decoration: none;
  list-style-type: none;
  padding: 30px;
  width: 260px;
  display: flexbox;
  height: 360px;
  flex-direction: column;
  transition: all 0.1s ease-in-out;
  color: #9d9faa;
}
.dCard:hover {
  width: 270px;
  height: 370px;
  padding: 0 5px;
}
.dCard .dCardStar {
  color: #aa003b;
  padding: 0 5px;
}
.dCard .dCardStarActive path {
  fill: #e0e03b;
}
.dCard .dCardTitle {
  color: #4967ff;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1em;
}
.dCard .imgCard {
  width: 100%;
}
.dCard .shopCart {
  position: relative;
  top: -50px;
  padding: 5px;
  float: right;
  font-size: 25px;
  z-index: 300;
  color: #e23965;
}
.dCard .dCardMark {
  position: relative;
  top: -50px;
  font-size: 25px;
  padding: 5px;
  color: #e23965;
  z-index: 300;
}
.dCard .dCardTeacher {
  color: #1d1f27;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  /* identical to box height, or 206% */
  letter-spacing: 0.05em;
}
.dCard .dCardtext {
  padding: 10px;
  background-color: #ffffff;
  position: relative;
  align-items: center;
  top: -50px;
  height: 200px;
}
.dCard .dCardPrice {
  font-weight: 600;
  font-size: 22px;
  justify-content: center;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #e23965;
  float: right;
  position: relative;
  top: -30px;
}
.dCard svg path {
  padding: 0 3px;
}

.dCardMore {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dCardMore button {
  background-color: #4967ff;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  vertical-align: middle;
  letter-spacing: 0.15em;
  color: #ffffff;
  border-radius: 24px;
}
.dCardMore button:hover {
  background-color: #003dcb;
}/*# sourceMappingURL=coursepage.css.map */